@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: SF PRO Display,SF Pro Icons , Helvetica Neue,Helvetica,Arial, sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
  background-color: #1C3864;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.viewport:global(.is-draggable) {
  cursor:move;
  cursor:grab
}

.viewport:global(.is-dragging) {
  cursor:grabbing;
}




.slide:global(.active){
  opacity: 1;
}

.embla__slide {
flex:0 0 80%
}